
@{
    ViewBag.Title = "Index";
}

<h2>Divide</h2>


@using (Html.BeginForm("Index", "Divide", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("First Number", htmlAttributes: new { @class = "control-label" })
            @Html.TextBox("firtNumber", null, htmlAttributes: new { @class = "form-control"})
        </div>
        <div class="form-group">
            @Html.Label("Second Number", htmlAttributes: new {@class = "control-label" })
            @Html.TextBox("secondNumber", null, htmlAttributes: new {@class = "form-control" })
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-default" >Save</button>
        </div>
    </div>
    
    <h2>@ViewBag.Result</h2>
    
}
